    <div class="container">
        <h1>User Form</h1> 
        <form *ngIf="active" (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required
            [(ngModel)]="model.firstName" name="firstName">
          </div>
          
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required
            [(ngModel)]="model.lastName" name="lastName">
          </div>

          <div class="form-group">
            <label for="sex">Sex</label>
              <!--<select class="form-control" id="sex" required
                [(ngModel)]="model.sex" name="sex" #sex="ngModel" >
              <option *ngFor="let s of sexList" [value]="s">{{s}}</option>
              </select>-->
              <span *ngFor="let s of sexList" >
                <input type="radio"  id="sex" required 
                [(ngModel)]="model.sex" name="sex" [value]="s" > {{s}}
              </span>
          </div>
          
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" required
            [(ngModel)]="model.city" name="city">
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
       
        <h1>Users Details</h1>
        <div>
          <table class="table table-responsive" style="border:0">
            <tr *ngFor="let user of users" style="height:20px;">
              <td class="text-left" style="padding-top:10px;border:0">
                {{user.firstName}} 
              </td>
              <td class="text-left" style="padding-top:10px;border:0">
                {{user.lastName}} 
              </td>
              <td class="text-left" style="padding-top:10px;border:0">
                {{user.sex}} 
              </td>
              <td class="text-left" style="padding-top:10px;border:0">
                {{user.city}} 
              </td>
              <td>
                <button type="button" class="btn btn-success">Edit</button>
              </td>
           </tr>
          </table>
          
        </div>
         </form>
       
    </div>